name: Deploy alpha-3 to server

on:
  push:
    branches:
      - alpha-3

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: root
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/shkila
            git fetch origin
            git checkout alpha-3
            git pull origin alpha-3

            cd back/school
            source /var/www/shkila/venv/bin/activate
            pip install -r requirements.txt
            python manage.py migrate
            python manage.py collectstatic --noinput

            systemctl restart shkila
